---
const { title = "Din Våte Drøm" } = Astro.props;
---
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Din Våte Drøm - Offisiell nettside. Nyheter, konserter, musikk og merch.">
    <title>{title}</title>
    <link rel="icon" type="image/png" href="/dvd_logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
    <link rel="prefetch" href="/yt_logo_fullcolor_white_digital.png" as="image" />
    <link rel="prefetch" href="/dvd_logo.png" as="image" />
</head>