---
const { title = "Din Våte Drøm" } = Astro.props;
---
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <link rel="icon" type="image/png" href="/dvd/dvd_logo.png" />
</head>