---
import '../../styles/global.css';
import '../../styles/sections.css';
---
<section id="about" class="section-card">
    <h2 class="section-title">Vi er Din Våte Drøm</h2>
    <p class="section-text">
        DVD er fem venner fra Oslos småhusbelte som fant sammen i det geniale ved å lage rockemusikk og spille gigs. Villarock i bule, bryllup, blant venner, på Blå.
    </p>
    <p class="section-text">
        Nå skjer det noe stort. 
    </p>
    <p class="section-text">
        Vi i bandet er Eirik på bass, Eilert på vokal, Magnus på elgitar og piano, Sigurd på trommer og vokal, og Sindre på gitar. Alle korer, noen mindre enn de burde, noen mere.
    </p>
    <p class="section-text">
        På nettsiden vil vi dele kule ting som skjer. Blant annet har noen meldt at det kommer et nyhetsbrev. Vi venter i spenning.
    </p>
    <p class="section-text">
        Og hold av 5. juni 2026 😉 
    </p>
    <p class="section-text">
        Følg med – vi har planer.
    </p>
    <p class="section-text">
        For booking og henvendelser, send oss en mail på <a href="mailto:dinvatedrom@gmail.com" class="section-link" rel="noopener noreferrer">dinvatedrom@gmail.com</a>
    </p>
</section>