---
import '../../styles/global.css';
import '../../styles/sections.css';
---
<section id="about" class="section-card">
    <h2 class="section-title">Vi er Din V친te Dr칮m</h2>
    <p class="section-text">
        DVD er fem venner fra Oslos sm친husbelte som fant sammen i det geniale ved 친 lage rockemusikk og spille gigs. Villarock i bule, bryllup, blant venner, p친 Bl친.
    </p>
    <p class="section-text">
        N친 skjer det noe stort. 
    </p>
    <p class="section-text">
        Vi i bandet er Eirik p친 bass, Eilert p친 vokal, Magnus p친 elgitar og piano, Sigurd p친 trommer og vokal, og Sindre p친 gitar. Alle korer, noen mindre enn de burde, noen mere.
    </p>
    <p class="section-text">
        P친 nettsiden vil vi dele kule ting som skjer. Blant annet har noen meldt at det kommer et nyhetsbrev. Vi venter i spenning.
    </p>
    <p class="section-text">
        Og hold av 5. juni 2026 游땔 
    </p>
    <p class="section-text">
        F칮lg med - vi har planer.
    </p>
    <p class="section-text">
        For booking og henvendelser, send oss en mail p친 <a href="mailto:dinvatedrom@gmail.com" class="section-link" rel="noopener noreferrer">dinvatedrom@gmail.com</a>
    </p>
</section>