---
import '../../styles/global.css';
import BandLogo from '../BandLogo.astro';
import ScrollIndicator from '../ScrollIndicator.astro';
import SocialRow from '../SocialRow.astro';
---

<style>
    .centered-header {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="centered-header">
    <BandLogo />
    <ScrollIndicator />
    <SocialRow />
</div>