---
import '../../styles/global.css';
---

<style>
    .media-container {
        margin: 2rem auto;
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .media-iframe {
        border-radius: 1rem;
        box-shadow: 0 2px 16px #0004;
        width: 520px;
        height: 352px;
        border: none;
    }
</style>
<div class="media-container">
    <iframe 
        class="media-iframe"
        src="https://open.spotify.com/embed/album/7BtsvaVSxAHiFzMUP46Od6?utm_source=generator" 
        allowfullscreen 
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
        loading="lazy"
    ></iframe>
    <iframe 
        class="media-iframe"
        src="https://www.youtube.com/embed/KJ6gKnop6lQ" 
        title="YouTube video player" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen
    ></iframe>
</div>