---
import '../../styles/global.css';
import '../../styles/sections.css';
import MediaSection from './MediaSection.astro';
---
<section id="media" class="section-card">
    <h2 class="section-title">Se og hør</h2>
    <MediaSection />
</section>