---
import '../../styles/global.css';
import '../../styles/sections.css';
---
<section id="merch" class="section-card">
    <h2 class="section-title">Sjappa</h2>
    <p class="section-text">
        Forhåndsbestill Rockemusikk på vinyl her: <a href="https://tigernet.no/releases/1069677-rockemusikk" class="section-link" rel="noopener noreferrer">Rockemusikk</a>
    </p>
    <p class="section-text">
        Merch kommer snart!
    </p>
</section>