---
import '../../styles/global.css';
import '../../styles/sections.css';
---
<section id="news" class="section-card">
    <h2 class="section-title">Hva skjer?</h2>
    <p class="section-text">
        Vi slipper debutalbumet vårt Rockemusikk 29. mai 2026!
    </p>
    <p class="section-text">
        Pre-save her: <a href="https://diger.ffm.to/rockemusikk" class="section-link" rel="noopener noreferrer">Rockemusikk</a>
    </p>
    <p class="section-text">
        Vi feirer slippet med en releasekonsert på Parkteateret 5. juni, denne vil du ikke gå glipp av! Billetter kjøper du her: <a href="https://www.ticketmaster.no/event/din-vate-drom-slippfest-billetter/846434508" class="section-link" rel="noopener noreferrer">Din Våte Drøm - Parkteateret</a>
    </p>
</section>