---
import '../../styles/global.css';
import '../../styles/sections.css';
---
<section id="news" class="section-card">
    <h2 class="section-title">Hva skjer?</h2>
    <p class="section-text">
        Vi slipper debutalbumet vårt Rockemusikk 29. mai 2026!
    </p>
    <p class="section-text">
        Pre-save her: <a href="https://diger.ffm.to/rockemusikk" class="section-link" rel="noopener noreferrer">Rockemusikk</a>
    </p>
    <p class="section-text">
        Vi feirer slippet med en releasekonsert på Parkteateret 5. juni, denne vil du ikke gå glipp av! Billetter kjøper du her: <a href="https://www.ticketmaster.no/event/din-vate-drom-slippfest-billetter/846434508" class="section-link" rel="noopener noreferrer">Din Våte Drøm - Parkteateret</a>
    </p>
    <h3 class="section-subtitle">Om Rockemusikk</h3>
    <p class="section-text">
        Din Våte Drøm spiller «Rockemusikk». Debutalbumet fra Oslos kjekkeste treffer som vårsol gjennom glippen i gardinene, og det er bare å åpne opp.
    </p>
    <p class="section-text">
        Noen sier sangene beskriver den første midtlivskrisen. Han venter på en beskjed, hun skal på jobbsøker-kurs. Det blir november. Svaret? Rockemusikk. 
    </p>
    <p class="section-text">
        Albumet er produsert av Kenneth Ishak. På rådgiversiden har bandet med seg Knut Schreiner. Rockemusikk gis ut på Diger.
    </p>
</section>