---
import Head from '../components/layout/Head.astro';
import Header from '../components/sections/Header.astro';
import MediaSection from '../components/sections/MediaSection.astro';
import About from '../components/sections/About.astro';
import Concerts from '../components/sections/Concerts.astro';
import Footer from '../components/layout/Footer.astro';
import DvdScreensaver from '../components/DvdScreensaver.astro';
import '../styles/global.css';
import News from '../components/sections/News.astro';
import Merch from '../components/sections/Merch.astro';
import Media from '../components/sections/Media.astro';
import NavMenu from '../components/NavMenu.astro';
---

<html lang="no">
    <Head />
    <body>
        <NavMenu />
        <!-- <DvdScreensaver logoPath="/DVD_logo.svg" opacity={0.8} /> -->
        <Header />
        <News />
        <Media/>
        <Merch />
        <Concerts />
        <About />
        <Footer />
    </body>
</html>
